body {
    margin: 0;
    padding: 0;
    /*Disable the text selection*/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.right-menu {
    margin: 11px 40px 10px 0 !important;
    display: inline-flex;
    float: right;
}

.header-icon-label {
    font-size: 12px;
    margin-top: 5px !important;
}

.main-container {
    min-height: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}

footer-parent {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.orders-img {
    object-fit: contain;
    height: 200px;
    width: 200px;
    margin: 0px;
}

.orders {
    text-align: center;
    margin: 58px 0 88px 0;
}

.orders-title {
    font-size: 20px;
    cursor: default;
}

.orders-subtitles {
    color: #8e9298;
    font-size: 15px;
    font-weight: 200;
    cursor: default;
}

.orders-btn {
    font-size: 15px;
}