body {
    margin: 0;
    padding: 0;
    /*Disable the text selection*/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.right-menu {
    margin: 11px 40px 10px 0 !important;
    display: inline-flex;
    float: right;
}

.header-icon-label {
    font-size: 12px;
    margin-top: 5px;
}

.mens {
    margin: 0;
    padding: 0 20px 20px 20px;
    display: block;
    margin-top: 5px;
}

.mens-header {
    padding: 10px 0 10px 30px;
}

.mens-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.filter-main-title {
    font-size: 16px;
}

.mens-content {
    margin: 0;
    padding: 0;
    border-top: thin solid #ccc;
}

.filter-section-body {
    padding-right: 0;
    padding: 0;
    margin: 0;
}

.filter-section {
    border-bottom: thin solid #ccc;
    border-right: thin solid #ccc;
    padding: 0 0 10px 30px;
    display: block;
}

.filter-options {
    padding-left: 0;
}

.filter-title {
    padding-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.filter-label {
    padding-left: 10px;
    font-size: 13px;
}

.clothing {
    margin: 0 0 0 30px;
}

.clothing-grid-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.clothing-grid-item {
    width: 80%;
    margin: 30px 20px 0 20px;
    position: relative;
}

.clothing-grid-item:hover {
    box-shadow: 2px 2px 10px 2px #ccc;
}

.product-img {
    object-fit: cover;
    height: 330px;
    width: 100%;
    position: relative;
}

.product-info {
    padding: 10px;
}

.brand-label {
    font-size: 15px;
    font-weight: 500;
}

.product-label {
    color: #585d6b;
    font-size: 12px;
}

.product-link {
    text-decoration: none;
    color: #000;
}

.product-link:hover {
    text-decoration: none;
    color: #000;
}

#plus {
    margin-right: 15px;
    color: grey;
    font-size: 20px;
    float: right;
    display: hidden;
}

#minus {
    margin-right: 15px;
    color: grey;
    font-size: 20px;
    float: right;
}

@media only screen and (max-width: 1200px) {
    .clothing {
        margin: 0 5px 0 5px;
    }
    .clothing-grid-container {
        justify-content: center;
        align-content: center;
        align-items: center;
        display: grid;
        margin-top: 20px;
        grid-template-columns: auto auto auto;
    }
    .clothing-grid-item {
        width: 85%;
        margin: 10px;
        position: relative;
    }
    .product-img {
        object-fit: cover;
        height: 330px;
        max-width: 100%;
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .clothing {
        margin: 0 5px 0 5px;
    }
    .clothing-grid-container {
        justify-content: center;
        align-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto;
    }
    .clothing-grid-item {
        width: 85%;
        margin: 10px;
        position: relative;
    }
    .product-img {
        object-fit: cover;
        height: 330px;
        max-width: 100%;
        position: relative;
    }
}