body {
    margin: 0;
    padding: 0;
    /*Disable the text selection*/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.right-menu {
    margin: 11px 40px 10px 0 !important;
    display: inline-flex;
    float: right;
}

.header-icon-label {
    font-size: 12px;
    margin-top: 5px !important;
}

.profile {
    margin: 0;
    padding: 0 20px 20px 20px;
}

.profile-container {
    padding: 20px 15% 0 15%;
}

.profile-main-title {
    font-size: 23px;
    font-weight: 500;
}

.profile-title {
    font-size: 18px;
    font-weight: 500;
}

.profile-subcontainer {
    border: thin solid #c8c9ca;
    padding: 50px;
    margin: 10px 15% 0 15%;
}

.profile-form {
    padding: 0 12% 0 12%;
}

@media only screen and (max-width: 600px) {
    .profile-container {
        padding: 20px 5% 0 5%;
    }
    .profile-subcontainer {
        border: thin solid #c8c9ca;
        padding: 20px;
        margin: 10px 5% 0 5%;
    }
}