.wishlist-section{
    padding:0;
    margin:50px 0 50px 0;
}


.wishlist-item-title{
    font-size:23px;
    font-weight:400;
    margin:0 0 0 30px;
}


.clothing{
/*        width: 100%;*/

}
.clothing-grid-container{
    justify-content: center;
    align-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: auto auto auto auto auto !important;
}

.clothing-grid-item{
    
/*    width:250px;*/
    width:86%;
    margin:30px 20px 0 20px !important; 
    border:thin solid #ccc;
    border-radius:5px;
    position: relative;
}

.clothing-grid-item:hover{
   box-shadow: 2px 2px 10px 2px #ccc; 
}

.product-img{
    object-fit:cover;
    height:310px;
/*    width:248px;   */
    width:100%;
    position: relative;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.product-info{
    padding:10px;
}

.brand-label{
    font-size:15px;
    font-weight:500;
}

.product-label{
    color:#585D6B;
    font-size:12px;
}

.product-link{
    text-decoration: none;
    color:#000;
}

.product-link:hover{
    text-decoration: none;
    color:#000;
}

.move-to-bag-section{
    border-top:1px solid #ccc;
    color:crimson;
    text-align: center;
    padding:10px;
    font-weight:400;
    font-size:15px;
}

.move-to-bag-link{
    color:crimson;
    text-decoration: none;  
}

.move-to-bag-link:hover{
    color:crimson;
    text-decoration: none;
}

.move-to-bag-btn{
    font-size:15px;
    
    padding:10px 50px 10px 50px;
    color:crimson;
    font-weight: 400;
    border-radius: 5px;
    background-color: #fff;
    border:none;
}

@media only screen and (max-width:1200px){
    .clothing-grid-container{
    justify-content: center;
    align-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: auto auto auto auto !important;
}
    
@media only screen and (max-width:991px){
    .clothing-grid-container{
    justify-content: center;
    align-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: auto auto auto !important;
}
    
@media only screen and (max-width:600px){
    .clothing-grid-container{
    justify-content: center;
    align-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: auto auto !important;
}
}
