@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ubuntu:400,500,700&display=swap');



*{

  margin: 0;

  padding: 0;

  list-style: none;

  font-family: 'Ubuntu', sans-serif;

  box-sizing: border-box;

  text-decoration: none;

}



body{

  background: #f1f1f1;

  width: 100%;

  height: 100%;

}





.table{

  width: 1000px;

  border-collapse: collapse;

  

}



.table td,.table th{

  padding:12px 15px;

  border:1px solid #ddd;

  text-align: center;

  font-size:16px;

  



}



.table th{

  background-color: #1061b3;

  color:#fff;



}



.table tbody tr{

  background-color: #fff;



}



/*responsive*/

@media(max-width: 600px){

    img{

    

        margin-top:20px;

        width:50px;

        height:50px;

        float:center;

        margin-bottom: 20px;

        

    }

  }

@media(max-width: 500px){

  



  .table thead{

    display: none;



  }



   .table tbody{

     background-color:#f1f1f1;

    max-width:none;

    display: block;

    min-width: 110%;

   }

   .table tr, .table td{

    display: block;

    width: 115%;

    background-color: #fff;

    border-radius: 10px;

    

  }

  .table tr{

  

    margin-bottom:50px;

  }

  .table td{

    white-space: normal;

    padding-left: 100%;

    text-align: right;

    position: relative;

  }

  .table td::before{

    content: attr(data-label);

    position: absolute;

    white-space: nowrap;

    left:0;

    width: 50%;

   

    padding-left:15px;

    font-size:15px;

    font-weight: bold;

    text-align: left;

  }

}



.wrapper .top_navbar{

  width: 100%;

  height: 65px;

  display: flex;

  position: fixed;

  top: 0;

}

@media (max-width: 500px){

 .wrapper .top_navbar{

  width:200%;

  height: 65px;

  display: flex;

  position: relative;

  top: 0;

  }

  .wrapper.active .top_navbar{

  width:170%;

  height: 65px;

  display: flex;

  position: relative;

  top: 0;



  }



.wrapper.active .top_navbar .logo{

  width: 250px;

  height: 100%;

  background: #2e4ead;

  border-bottom: 1px solid #d3d3d3;

}



.wrapper.active .top_navbar .logo a{

  display: block;



    text-align: center;

    font-family: 'Nunito', sans-serif;

    font-size: 18px;

    color: #fff;

    padding: 20px 0;

}

  .wrapper.active .top_navbar .top_menu{

  width: 100%;

  height: 100%;

  font-size:15px;

  background: #fff;

    padding: 0 40px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    -webkit-box-shadow:0px 2px 2px #d3d3d3;

 -moz-box-shadow:0px 2px 2px #d3d3d3;

 box-shadow:0px 2px 2px #d3d3d3;

}

  .container{

  margin-bottom:50px;

  }



  .main_body .sidebar_menu{

      position: relative;

      width: 100%;

      height: auto;



      

  }



  .main_body .sidebar_menu .inner__sidebar_menu{

     width: 100%;

     height: auto;

    text-decoration: none;

    position: relative;

    

  }



 



  .main_body .sidebar_menu ul li a{

    float:left;

  }



  .main_body .container{



      margin-left:0px;



  }

}





.wrapper .top_navbar .logo{

  width: 250px;

  height: 100%;

  background: #2e4ead;

  border-bottom: 1px solid #d3d3d3;

}



.wrapper .top_navbar .logo a{

  display: block;



    text-align: center;

    font-family: 'Nunito', sans-serif;

    font-size: 20px;

    color: #fff;

    padding: 20px 0;

}

.wrapper .top_navbar .logo a:hover{

 text-decoration: none;

  background: #4360b5;



}

.wrapper .top_navbar .top_menu{

  width: calc(100% - 250px);

  height: 100%;

  background: #fff;

  font-size: 20px;

    padding: 0 40px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    -webkit-box-shadow:0px 2px 2px #d3d3d3;

 -moz-box-shadow:0px 2px 2px #d3d3d3;

 box-shadow:0px 2px 2px #d3d3d3;

}





.wrapper .top_navbar .top_menu .home_link a{

  display: block;

    background: #3421C0;

    color: #fff;

    

    border-radius: 3px;

}



.wrapper .top_navbar .top_menu  a:hover,

.wrapper .top_navbar .right_info .icon_wrap:hover {

    background: #4360b5;

}



.wrapper .top_navbar .right_info{

  display: flex;

  font-size:15px;

}



.wrapper .top_navbar .right_info .icon_wrap{

  padding: 8px 15px;

    border-radius: 3px;

  background: #2e4ead;

    color: #fff;

    margin: 0 5px;

    cursor: pointer;

}



.main_body .sidebar_menu{

  position: fixed;

    top: 65px;

    left: 0;

    background-color: #2e4ead;

    text-decoration: none;

    width: 250px;

    height: 100%;

    transition: all 0.3s linear;

}



.main_body .sidebar_menu .inner__sidebar_menu{

  text-decoration: none;

  position: relative;

  padding-top: 60px;

}



.main_body .sidebar_menu ul li a{

  

  color: #fff;

  font-size: 18px;

  padding: 20px 35px;

  text-decoration: none;

  display: block;

  white-space: nowrap;

}



.main_body .sidebar_menu ul li a .icon{

  margin-right: 8px;

}

.icon img{

object-fit: contain;

height:40px;

}

.main_body .sidebar_menu ul li a span{

  display: inline-block;

}



.main_body .sidebar_menu ul li a:hover{

  

  background:#4360b5;

  color: #fff;

}



.main_body .sidebar_menu ul li a.active{

  background: #4360b5;

  color: #fff;



}



.main_body .sidebar_menu .toggleArrow{

  position: absolute;

  top: 5px;

  right: -25px;

  width: 50px;

  height: 50px;

  background: #e8edf5;

  border-radius: 50%;

  cursor: pointer;



}



.main_body .sidebar_menu .inner_toggleArrow,

.main_body .sidebar_menu .toggleArrow .arrow{

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%,-50%);

}



.main_body .sidebar_menu .inner_toggleArrow{

  width: 40px;

  border-radius: 50%;

  height: 40px;

  background: #3421C0;

}



.main_body .sidebar_menu .toggleArrow .arrow{

  color: #fff;

  font-size: 20px;

}



.main_body .sidebar_menu .toggleArrow  .fa-long-arrow-alt-right{

  display: none;

}



.main_body .container{

  width: 100%;

  margin-top: 65px;

  margin-left: 250px;

  padding: 25px 30px;

  transition: all 0.3s linear;

}



.main_body .container .item_wrap{

  display: flex;

  margin-bottom: 20px;



}



.main_body .container .item_wrap .item{

  background: #fff;

  border-radius:25px;

  border: 1px solid #e0e0e0;

  padding: 25px;

  

  font-size: 14px;

  line-height: 22px;

  

}







.main_body .container .item_wrap .item:first-child{

  margin-right: 20px;

}



/* after adding active class */

.wrapper.active .sidebar_menu{

  width: 100px;

}



.wrapper.active .toggleArrow .fa-long-arrow-alt-right{

  display: block;

}



.wrapper.active .toggleArrow .fa-long-arrow-alt-left{

  display: none;

}



.wrapper.active .sidebar_menu ul li a .list{

  display: none;

}



.wrapper.active .main_body .container{

  width: 100% ;

  margin-left: 100px;

}



.dropbtn {

  background-color:#2e4ead ;

  color: white;

  padding: 5px;

  font-size: 16px;

  border: none;

}



.dropdown {

  position: relative;

  display: inline-block;

}



.dropdown-content {

  display: none;

  position: absolute;

  background-color: #f1f1f1;

  border-radius:15px;

  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 1;

}



.dropdown-content a {

  color: black;

  border-radius:15px;

  padding: 12px 16px;

  text-decoration: none;

  display: block;

}



.dropdown-content a:hover {

  background-color: #fff;

  border-radius:15px;

}



.dropdown:hover .dropdown-content {

  display: block;

}



.dropdown:hover .dropbtn {

  background-color: #2e4ead;

}

/* width */

::-webkit-scrollbar {

  width: 10px;

}



/* Track */

::-webkit-scrollbar-track {

  background: #f1f1f1; 

}

 

/* Handle */

::-webkit-scrollbar-thumb {

  background: #888; 

}



/* Handle on hover */

::-webkit-scrollbar-thumb:hover {

  background: #555; 

}



.main-div{

  width:200px;

  float:left;

  margin-top:35px;

  padding:20px;

  margin:0px auto;

}



.main-div input{

    display:block;

    border:1px solid #ccc;

    border-radius:5px;

    background:#fff;

    

    outline:none;

    width:350px;

    margin-bottom:20px;



}

.main-div input:focus {

  border: 1px solid #777;

}



.upload-btn-wrapper {

  float:left; 

  position: relative;

  overflow: hidden;

  display: inline-block;

}

.btn-2 {

   float:left; 

   width:200px; 

   border: 1px solid #20d420;

   background:#20d420; 

   color:#fff; 

   padding:5px; 

   border-radius: 25px;

}

.upload-btn-wrapper input[type=file] {

  font-size: 100px;

  position: absolute;

  left: 0;

  top: 0;

  opacity: 0;

}





